@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

/* Variables */

:root {
  --color-primary: #51a0d4;
  --color-secondary: #353535;
  --color-tertiary: #333;
  --color-quaternary: #111;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #8a8a8a;
  --color-light: #f4f4f4;
}
